body {
    background-color: #334c0169;
}

main {
    position: relative;
    button {
        left: 0em;
        position: fixed;
        top: 0em;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 100%;
        height: auto;
        padding: 1em;
        margin: 1em;
    }
}

#selectSearch {
    margin-bottom: 0 !important;
    margin-top: 1em;
}

.jumbotron {
    margin: 3em 20em 1em 20em;
    padding: 2em;
    width: auto;
}

.card-columns {
    display: inline-block !important;
}

#box,
#albumBox {
    .card {
        img {
            width: 100%;
            height: auto;
            margin-bottom: 1em;
        }
        .card-body {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            h5 {
                text-align: center;
            }
            a {
                width: 100%;
            }
        }
    }
    section {
        align-items: center;
        display: flex;
    }
}

audio {
    width: 100%;
    margin-bottom: 2em;
}

.hidden {
    display: none;
}

#albumBox {
    margin-top: 5em;
}

.modal-header {
    button {
        position: absolute;
        top: 0.7em;
    }
    h5 {
        margin-left: 2em;
    }
}