.navbar-subsection-button {
    text-align: center;
    padding: 0px !important;
    border-bottom: 1px solid rgb(199, 199, 199);
    margin: 0 5px;
  }
  .navbar-subsection-button:hover {
    border-bottom: 1px solid #000;
  }
  .navbar-subsection-button span {
    width: 100%
  }
  
  .navbar-subsection-dropdrown{
    text-align: center;
    width: 100%;
  }
  
  .navbar-subsection-itemDropdown{
    padding: 0px !important;
    font-size: 15px !important;
  }