.boldPurple{color:rgba(115,116,229,0.9) !important; font-weight:600 !important; font-size:16px;}
.boldRed{color:rgba(199, 48, 48, 0.9) !important; font-weight:600 !important; font-size:16px;}
.boldGreen{color:rgba(12, 201, 43, 0.9) !important; font-weight:600 !important; font-size:16px;}