html,body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*main container for grid*/

.container {
    height: 100%;
    display: grid;
    grid-template-columns:  repeat(12,1fr); 
    /*grid-template-rows: 40% 30% 30%;*/
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "s s s s s s s s s s s s"
        "f f f f f f f f f f f f";
}

/*///////////////////////////   HEADER   ///////////////////////////////////*/

header {
    grid-area: h;
    background-color: #4ABCD1;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    
}

.login {
    margin-right: 6%;
    padding-top: 15px;
    color: #EFEFEF;
    align-self: flex-end;
    
}

/*menu logo and sign up link*/
nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-grow: (1,2);
    margin-top: -25px; 

}

.logo {
    flex-grow: 1;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}


.logo >a:nth-child(2) {
    background: #4F504A;
    padding: 15px;
    margin-left: 10%;
    border-radius: 10px;
    color: white;

}

nav > ul {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: flex-start;;
    background: #D0EDF3;
    margin-right: 5%;
    
}

nav > ul > li {
    flex-grow: 1;
    border-left: 1px solid #b7dce3;
    align-self: center;
    text-align: center;
    padding: 15px 0;
    font-weight: 600;
    color: #3E3E36;
    
}

nav > ul > li:nth-child(1) {
    border-left: none;
    margin-left: -30px;
}

nav input {
    width: 100px;
    border-radius: 5px;

}

/*monkey background H1 and introduction*/
.pageH1 {
    float: left;
    height: 400px;
    width: 90%;
    margin-left: 10%;
    background-image: url("../images/easy-email-newsletters-banner-png8.png");
    background-repeat: no-repeat;
}

.pageH1 > *  {
    float:right;
    margin-right: 2%;
    margin-left: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pageH1 > h1 {
    color: aliceblue;
    font-size: 4em;
    margin-right: 0;
    margin-top: -18px
}

.pageH1 > p {
    color: darkslategray;
    margin-top: -15px;
}

.pageH1 > span {
    padding: 5px;
    
}

.pageH1 a {
    padding: 20px;
    background: #E85B41;
    text-align: center;
    width: 30%;
    border-radius: 10px;
    color: white;

}

/* ////////////////////////////// SECTION CONTENT /////////////////////////////*/

section {
    grid-area: s;
    background-image: url(../images/noisepattern.png);   
}

.content {
    background-color: #EFEFEF;
    width: 90%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    margin-top: -3%;
    margin: -3% auto;
    padding-bottom: 3%
}

.content h2 {
    margin-left: 80px;
    margin-top: -1%;
    margin-bottom: -20px;
    color: #3E3E36;
    font-size: 1.8em;
}

.content ul{
    width: 90%;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: row;

}

.content > ul > li {
   justify-self: center;
}

.content p {
    color: #666;
    font-size: 0.9em
    
}

.content > ul > li  h3 {
    margin-top: -15px;
}


.learnMore {
    background: #3E3E36;
    color: white;
    padding: 5px 25%;
    border-radius: 5px;
    
}

/* ///////////////////////// FOOTER ///////////////////*/

footer {
    grid-area: f;
    background: #181713;
    color: #666;
    padding-bottom: 5%;
}

.footer {
    width: 90%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: row;
    margin-left: auto;
    margin-right: auto;

}

.footer h4 {
    color: #EFEFEF;
}

.footer li {
    font-size: 0.8em;
    color: #666;
}

.copyright {
    text-align: center;
}