/* Mobile First */

body {
    background-color: lightblue;
}

@media screen and (min-width: 500px) {
    body {
        background-color: lightgreen;
    }
}

/* Desktop First? */

/*

body {
    background-color: lightgreen;
}

@media screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}

*/