<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PADELOPER - USER PANEL</title>


    <!-- Bootstrap core CSS -->
    <link href="../../public/vendor/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">

    
</head>
<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 class="padeloper">PADELOPER</h3>
            </div>

            <ul class="list-unstyled components">
                <p>WELCOME NACHAL</p>

                <li>
                    <a href="#">Stats</a>
                </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">League</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="#">Home 1</a></li>
                        <li><a href="#">Home 2</a></li>
                        <li><a href="#">Home 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Tournament</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Round Robin</a>
                </li>

            </ul>

            <ul class="list-unstyled CTAs">
                <li><a href="#" class="download">Create League</a></li>
                <li><a href="#" class="article">Back to home</a></li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">My leagues</a></li>
                            <li><a href="#">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class='container'>
                    <div class='row'>
                      <div class='col-md-4 col-md-offset-4'>
                        <div class='search-box'>
                          <form class='search-form'>
                            <input class='form-control' placeholder='Search for your league' type='text'>
                            <button class='btn btn-link search-btn'>
                              <i class='glyphicon glyphicon-search'></i>
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
            </div>
                  
            
            <div class="line"></div>

            <div class="row">
                <!--/box-init -->
                <div class="col-md-4">
                    <div class="box-league">
                        <div class="info-league">
                          <div class="joined">10</div>
                          <div class="text">
                            <p>
                              League <span>The bears </span> created by user <span>Nachal</span>
                              Max players: <span>12</span>                                     
                            </p>
                            <p class="smalltext"><small>league created in 2018-03-12 | </small><a href="#"><small>Join</small></a></p>
                          </div>  
                        </div>                            
                    </div>
                </div>
                <!--/box-finish -->
                <!--/box-init -->
                <div class="col-md-4">
                    <div class="box-league">
                        <div class="info-league">
                          <div class="joined">10</div>
                          <div class="text">
                            <p>
                              League <span>The bears </span> created by user <span>Nachal</span>
                              Max players: <span>12</span>                                     
                            </p>
                            <p class="smalltext"><small>league created in 2018-03-12</small></p>
                          </div>  
                        </div>                            
                    </div>
                </div>
                <!--/box-finish -->
                <!--/box-init -->
                <div class="col-md-4">
                    <div class="box-league">
                        <div class="info-league">
                          <div class="joined">10</div>
                          <div class="text">
                            <p>
                              League <span>The bears </span> created by user <span>Nachal</span>
                              Max players: <span>12</span>                                     
                            </p>
                            <p class="smalltext"><small>league created in 2018-03-12</small></p>
                          </div>  
                        </div>                            
                    </div>
                </div>
                <!--/box-finish -->
                <!--/box-init -->
                <div class="col-md-4">
                    <div class="box-league">
                        <div class="info-league">
                            <div class="joined">10</div>
                            <div class="text">
                                <p>
                                  League <span>The bears </span> created by user <span>Nachal</span>
                                  Max players: <span>12</span>                                     
                                </p>
                                <p class="smalltext"><small>league created in 2018-03-12</small></p>
                            </div>  
                         </div>                            
                    </div>
                </div>
                    <!--/box-finish -->
                <div class="col-md-4">
                    <div class="box-league">
                        <div class="info-league">
                            <div class="joined">10</div>
                            <div class="text">
                                <p>
                                  League <span>The bears </span> created by user <span>Nachal</span>
                                  Max players: <span>12</span>                                     
                                </p>
                                <p class="smalltext"><small>league created in 2018-03-12</small></p>
                            </div>  
                         </div>                            
                    </div>
                </div>
                    <!--/box-finish -->
        </div>
    </div>


<script src = "../../public/vendor/jquery/3.3.1/jquery-3.3.1.min.js"></script>            
<script src="../../public/vendor/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../public/vendor/popper/1.0/js/popper.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>

</body>
</html>