<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PADELOPER - REGISTER</title>


    <!-- Bootstrap core CSS -->


    <link href="../../public/vendor/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    
</head>
<body>
  <header>
      <nav class="navbar navbar-default ">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand padeloper" href="#">PADELOPER</a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <span class="caret"></span></a>

                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
  </header>

    
    <div class="col-md-12 centered content-index">


        <div class="row">
            <div class="col-md-12">

                    <div class="contenedor-formulario">
                            
                            <div class="wrap">
                                <h3 class="register">REGISTER</h3>
                                <form class="formulario" name="formulario_registro" method="post">
                                <div>
                                    <div class="input-group">
                                        <input type="text" name="name" placeholder="type your name"/>
                                       
                                    </div>

                                    <div class="input-group">
                                            <input type="text" name="surname" placeholder="type your surname"/>
                                    </div>
                        
                                    <div class="input-group">
                                        <input type="email" name="email" placeholder="email"/>
                                    </div>
                        
                                    <div class="input-group">
                                        <input type="text" name="username" placeholder="type your username"/>
                                    </div>
                        
                                    <div class="input-group">
                                            <input type="text" name="password" placeholder="password"/>
                                            
                                        </div>
                        
                        
                                    <input type="submit" name="btn-submit" value="GO"/>
                        
                                </div>
                            </form>
                            </div>
                        
                        
                        </div>
            </div>
        </div>       
    </div>
           
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src = "../../public/vendor/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
