<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PADELOOP - USER PANEL</title>


    <!-- Bootstrap core CSS -->
    <link href="../../public/vendor/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/generic.css" rel="stylesheet">
    <link href="css/topbar.css" rel="stylesheet">
    <link href="css/sidebar.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/userdata.css" rel="stylesheet">
    <link href="css/box-container.css" rel="stylesheet">
    <link href="css/box-model.css" rel="stylesheet">


    
</head>
<body>

     <!-- Top navBar -->
    <header class="cabecera">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse top-menu">
                <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand padeloper" href="#">PADELOPER</a>
                        </div>
                    
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">
                            <li><a href="#">Link</a></li>
                          </ul>
                          <form class="navbar-form navbar-left">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Search">
                            </div>
                          </form>
                          <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">My leagues</a></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log Out <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
        </nav>
    </header>
    <div class="row-offcanvas row-offcanvas-left fondo">
            <div id="sidebar" class="sidebar-offcanvas">
                <div class="col-md-12 sidebar">
                  <h3 class="sidebar-title">User Panel</h3>
                  <ul class="nav nav-pills nav-stacked ulsidebar">
                    
                    <li><a href="#">Leagues</a></li>
                    <li><a href="#">Tournaments</a></li>
                    <li><a href="#">Champions</a></li>

                  </ul>
                </div>
            </div>

            
            <div id="main">
                <div class="col-md-12">
                      <p class="visible-xs">
                      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    </p>
                    
                    <div class="row userinfo">
                        <div class="col-md-12">




                          <div class="col-md-3 ">
                              <div class="name">
                                <p><span class="bold">Name: </span>Nacho</p>
                                <p><span class="bold">Username: </span>Nachal</p>
                              </div>
                          </div>

                          <div class="col-md-3 ">
                            <div class="level">
                              <p>LEVEL : 4 </p>
                            </div>
                          </div>

                          <div class="col-md-3 ">
                              <div class="name">
                                  <p><span class="bold">Leagues created: </span>7</p>
                                  <p><span class="bold">Leagues Joined: </span>3</p>
                                </div>
                          </div>


                        </div>
                    </div>
                    <div class="row">
                      ...
                    </div>
                    <div class="row">
                        <!--/box-init -->
                        <div class="col-md-4">
                            <div class="box-league">
                                <div class="info-league">
                                  <div class="joined">10</div>
                                  <div class="text">
                                    <p>
                                      League <span>The bears </span> created by user <span>Nachal</span><br>
                                      Max players: <span>12</span><br>                                     
                                    </p>
                                    <p class="smalltext"><small>league created in 2018-03-12</small></p>
                                  </div>  
                                </div>                            
                            </div>
                        </div>
                        <!--/box-finish -->
                        <!--/box-init -->
                        <div class="col-md-4">
                            <div class="box-league">
                                <div class="info-league">
                                  <div class="joined">10</div>
                                  <div class="text">
                                    <p>
                                      League <span>The bears </span> created by user <span>Nachal</span><br>
                                      Max players: <span>12</span><br>                                     
                                    </p>
                                    <p class="smalltext"><small>league created in 2018-03-12</small></p>
                                  </div>  
                                </div>                            
                            </div>
                        </div>
                        <!--/box-finish -->
                        <!--/box-init -->
                        <div class="col-md-4">
                            <div class="box-league">
                                <div class="info-league">
                                  <div class="joined">10</div>
                                  <div class="text">
                                    <p>
                                      League <span>The bears </span> created by user <span>Nachal</span><br>
                                      Max players: <span>12</span><br>                                     
                                    </p>
                                    <p class="smalltext"><small>league created in 2018-03-12</small></p>
                                  </div>  
                                </div>                            
                            </div>
                        </div>
                        <!--/box-finish -->

                    </div>
                    
                </div>
            </div>
          </div><!--/row-offcanvas -->
                


                
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src = "../../public/vendor/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>