li {
    text-decoration: underline;
    list-style-type: square;
    background-color: white;
    margin-left: -10px;
}

ul {
    background-color: #00FFFE;
    width: 40px;
    text-align: center;
}

h1 {
    text-shadow: 10px -10px 3px #929292;
    text-decoration: underline red;
}

.green-rounded-button {
    width: 174px;
    height: 87px;
    font-size: 20px;
    color: white;
    background-color: #00891B;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: black;
    box-shadow: 0px 7px 0px #999999;
}

.green-rounded-button:hover {
    background-color: white;
    color: black;
}

img {
    border-radius: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-style: dotted;
    border-width: 4px;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}