@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

%section-modules {
    background: #48B29F;
    @include border-radius(2px);
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    border: 2px solid #41CCC0;
}

%button {
    text-align: center;
    background: #41CCC0;
    @include border-radius(2px);
    display: flex;
    border: 0;
    justify-content: center;
}

%buttonEnlace {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

%input {
    height: 40px;
    border-radius: 2px;
    border: 0;
    outline: none;
    padding: 0 10px;
    background: #e7fbf9;
}

%text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
}

%specialChar {
    font-size: 16px;
    font-weight: bold;
    color: #48484F;
}

html,
body {
    background: #48B29F;
}

h1 {
    font-family: 'Rammetto One', cursive;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}

p {
    text-align: center;
}

a {
    padding: 10px 45px;
}

ul {
    padding-left: 0;
    text-align: center;
}

input {
    color: #48B29F;
}

label {
    margin-right: 10px;
}

section {
    @extend %section-modules;
}

button {
    @extend %button;
}

button a {
    @extend %buttonEnlace;
}

input {
    @extend %input;
    @extend %text;
}

span,
p,
label {
    @extend %text;
}

.subsection-start,
.subsection-data {
    padding: 75px 0;
    text-align: center;
}

.subsection-data {
    display: flex;
    flex-direction: column;
}

.subsection-data div {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subsection-data div:nth-last-child(2) {
    margin-bottom: 30px;
}

section ul li {
    display: inline;
    list-style: none;
    margin: 5px;
    color: #fff;
}

body section:last-child div div {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.attemps {
    @extend %specialChar;
}

.word {
    @extend %specialChar;
}

.hidden {
    display: none;
}