extends base.pug

block content
    form(action="/", method="post")
        input(type="text", name="task", placeholder="Input text")
        input(type="submit", value="Add")

        //- if listInPugFile.length

        - const hasToDos = tasks.some(task => !=task.done)
        if hasToDos
            h4 To Do
            ul
            each val in listInPugFile
                
                li= val.task
                    a(href='/done/'+val.idTask) Task Done

            

//- extends base.pug

//- block content
//-     form(action="/", method="post")
//-         input(type="text", name="task", placeholder="Input text")
//-         input(type="submit", value="Add")
//-         - const hasToDos = tasks.some(task => !=task.done)
//-         if hasToDos

        
//-             h2 To Do
//-             ul
//-             each val in listInPugFile
                
//-                 li= val.task
//-                     a(href='/done/'+val.idTask) Task Done
    