@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ---------------------------------------------------
   DESCRIPTION TEXT
----------------------------------------------------- */
.text-explanation{
    font-family:'Poppins', sans-serif;
    color:#999;
    line-height:1.7em;
    font-size:15px;
}