html{
  background: url('img/background.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
  color: white;
  background: transparent;
  text-shadow: 0px 0px 20px  black;
  }
button, input{
  background-color: transparent;
  color: white;
  border:1px solid rgb(184, 2, 184);
  padding: 8px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: color 0.5s;
  transition: border 1s;
 }
button:hover{
  background-color: rgb(184, 2, 184);
  border:1px solid white;
  outline: none;
 }
input:hover, input:active, input:focus{
  border:1px solid white;
  background-color: transparent;
 }
button:active{
  background-color: rgb(255,255,255);
  outline: none;
 }

 h3{
  font-size: 6vw;
  transform: translateY(33%);
  text-shadow: 0px 0px 20px rgb(29, 83, 231);
 }

::-webkit-input-placeholder {
  color:rgb(255,255,255);
  font-weight: lighter;
  font-style: italic;
}
:-ms-input-placeholder { 
  color: rgb(255,255,255);
  font-style: italic;
}
::-moz-placeholder {
  color:rgb(255,255,255);
  font-style: italic;
  opacity: 1;
}
:-moz-placeholder {
  color:rgb(255,255,255);
  font-style: italic;
  opacity: 1;
}

.player{
  font-size: 2vw;
}
.score1,.score2{
  font-size: 3.5vw;
}
.score1{
 color: #76bbb6;
}
.score2{
  color:#c1174d;
}